<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ly.managesys.mapper.EmpMapper">

<!--List<Emp> getAllEmp();-->
    <select id="getAllEmp" resultType="emp">
        select * from emp;
    </select>

<!--List<HashMap<String ,Object>> getAllEmpAndDept();-->
    <select id="getAllEmpAndDept" resultMap="empDept">
        select * from emp;
    </select>
    <resultMap id="empDept" type="emp">
    <!--复杂的属性需要单独处理 是对象就使用association，是集合就使用collection-->
        <result property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="mgr" column="mgr"/>
        <result property="bonus" column="bonus"/>
        <result property="hiredate" column="hiredate"/>
        <result property="deptno" column="deptno"/>
<!--将关联的外键设置为第二步查询的条件进行查询-->
        <association property="dept" column="deptno"
                select="cn.ly.managesys.mapper.DeptMapper.getDeptByDeptno"/>
    </resultMap>

<!--    int insertEmp(@Param("emp") Emp emp);-->
    <insert id="insertEmp">
        insert into emp (ename,job,salary,bonus,deptno) values (#{emp.ename},#{emp.job},#{emp.salary},#{emp.bonus},#{emp.deptno})
    </insert>

<!--    List<Emp> getEmpByLessThanSalary(@Param("salary") int salary);-->
    <select id="getEmpByLessThanSalary" resultMap="empDept">
        select * from emp where salary &lt;=#{salary};
    </select>

<!--    List<Emp> getEmpByEnameLike(@Param("ename") String ename);-->
    <select id="getEmpByEnameLike" resultMap="empDept">
        select * from emp where ename like "%"#{ename}"%";
    </select>

<!--List<Emp> getEmpByEnameLikeAndLessThanSalary(@Param("ename") String ename, @Param("salary") int salary);-->
    <select id="getEmpByEnameLikeAndLessThanSalary" resultMap="empDept">
        select * from emp where salary &lt;=#{salary} and ename like "%"#{ename}"%";
    </select>

<!--    Emp getEmpByEmpno(@Param("empno") int empno);-->
    <select id="getEmpByEmpno" resultMap="empDept">
        select * from emp where empno=#{empno};
    </select>

<!--    int updateEmp(@Param("emp") Emp emp);-->
    <update id="updateEmp">
        update emp set job=#{emp.job},salary=#{emp.salary},bonus=#{emp.bonus},deptno=#{emp.deptno} where empno=#{emp.empno};
    </update>

</mapper>